include CMakeLists.txt
include README.md
include cmake/platforms.cmake
include examples/calculate_grid/calculate_grid.py
include examples/calculate_grid/export_model.py
include examples/complex_mul/complex_mul.py
include examples/complex_mul/export_model.py
include examples/fft/export_model.py
include examples/fft/fft.py
include examples/sparse_conv/export_model.py
include examples/sparse_conv/sparse_conv.py
include pyproject.toml
include setup.py
include tests/requirements.txt
include tests/run_tests.py
include user_ie_extensions/CMakeLists.txt
include user_ie_extensions/calculate_grid.cpp
include user_ie_extensions/calculate_grid.hpp
include user_ie_extensions/complex_mul.cpp
include user_ie_extensions/complex_mul.hpp
include user_ie_extensions/fft.cpp
include user_ie_extensions/fft.hpp
include user_ie_extensions/grid_sample.cpp
include user_ie_extensions/grid_sample.hpp
include user_ie_extensions/include/openvino_extensions/strings.hpp
include user_ie_extensions/ov_extension.cpp
include user_ie_extensions/sparse_conv.cpp
include user_ie_extensions/sparse_conv.hpp
include user_ie_extensions/sparse_conv_transpose.cpp
include user_ie_extensions/sparse_conv_transpose.hpp
include user_ie_extensions/tokenizer/CMakeLists.txt
include user_ie_extensions/tokenizer/bpe_tokenizer.cpp
include user_ie_extensions/tokenizer/bpe_tokenizer.hpp
include user_ie_extensions/tokenizer/bytes_to_chars.cpp
include user_ie_extensions/tokenizer/bytes_to_chars.hpp
include user_ie_extensions/tokenizer/case_fold.cpp
include user_ie_extensions/tokenizer/case_fold.hpp
include user_ie_extensions/tokenizer/chars_to_bytes.cpp
include user_ie_extensions/tokenizer/chars_to_bytes.hpp
include user_ie_extensions/tokenizer/combine_segments.cpp
include user_ie_extensions/tokenizer/combine_segments.hpp
include user_ie_extensions/tokenizer/icu4c.patch
include user_ie_extensions/tokenizer/normalize_unicode.cpp
include user_ie_extensions/tokenizer/normalize_unicode.hpp
include user_ie_extensions/tokenizer/python/README.md
include user_ie_extensions/tokenizer/python/ov_tokenizer/__init__.py
include user_ie_extensions/tokenizer/python/ov_tokenizer/constants.py
include user_ie_extensions/tokenizer/python/ov_tokenizer/convert_tokenizer.py
include user_ie_extensions/tokenizer/python/ov_tokenizer/hf_parser.py
include user_ie_extensions/tokenizer/python/ov_tokenizer/node_factory.py
include user_ie_extensions/tokenizer/python/ov_tokenizer/str_pack.py
include user_ie_extensions/tokenizer/python/ov_tokenizer/tiktoken_parser.py
include user_ie_extensions/tokenizer/python/ov_tokenizer/tokenizer_pipeline.py
include user_ie_extensions/tokenizer/python/ov_tokenizer/utils.py
include user_ie_extensions/tokenizer/python/pyproject.toml
include user_ie_extensions/tokenizer/python/tests/conftest.py
include user_ie_extensions/tokenizer/python/tests/pass_rates.json
include user_ie_extensions/tokenizer/python/tests/tokenizers_test.py
include user_ie_extensions/tokenizer/ragged_tensor_pack.cpp
include user_ie_extensions/tokenizer/ragged_tensor_pack.hpp
include user_ie_extensions/tokenizer/ragged_to_dense.cpp
include user_ie_extensions/tokenizer/ragged_to_dense.hpp
include user_ie_extensions/tokenizer/regex_normalization.cpp
include user_ie_extensions/tokenizer/regex_normalization.hpp
include user_ie_extensions/tokenizer/regex_split.cpp
include user_ie_extensions/tokenizer/regex_split.hpp
include user_ie_extensions/tokenizer/sentence_piece.cpp
include user_ie_extensions/tokenizer/sentence_piece.hpp
include user_ie_extensions/tokenizer/string_tensor_pack.cpp
include user_ie_extensions/tokenizer/string_tensor_pack.hpp
include user_ie_extensions/tokenizer/string_tensor_unpack.cpp
include user_ie_extensions/tokenizer/string_tensor_unpack.hpp
include user_ie_extensions/tokenizer/tensorflow_translators.cpp
include user_ie_extensions/tokenizer/tensorflow_translators.hpp
include user_ie_extensions/tokenizer/tokenizer.hpp
include user_ie_extensions/tokenizer/utils.cpp
include user_ie_extensions/tokenizer/utils.hpp
include user_ie_extensions/tokenizer/vocab_decoder.cpp
include user_ie_extensions/tokenizer/vocab_decoder.hpp
include user_ie_extensions/tokenizer/wordpiece_tokenizer.cpp
include user_ie_extensions/tokenizer/wordpiece_tokenizer.hpp
exclude MANIFEST.in