{%- for op in operators %}
{{op.title_comment}}
INSTANTIATE_TEST_CASE_P(
    {{op.cpp_test_name}},
    {{op.cpp_test_class_name}},
    ::testing::Combine(
        ::testing::Combine(
            ::testing::Values(std::vector<size_t>({{op.cpp_list_kernel}})), // kernel
            ::testing::Values(std::vector<size_t>({{op.cpp_list_strides}})), // strides
            ::testing::Values(std::vector<ptrdiff_t>({{op.cpp_list_pads_begin}})), // pads_begin
            ::testing::Values(std::vector<ptrdiff_t>({{op.cpp_list_pads_end}})), // pads_end
            ::testing::Values(std::vector<size_t>({{op.cpp_list_dilations}})), // dilations
            ::testing::Values({{op.cpp_num_output_channels}}), // Num out channels
            ::testing::Values({{op.cpp_auto_pad}})), // Padding type
        ::testing::ValuesIn(std::vector<InferenceEngine::Precision>({{op.cpp_net_precisions}})), // Net precisions
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED), // Input precision
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED), // Output precision
        ::testing::Values(InferenceEngine::Layout::ANY), // Input layout
        ::testing::Values(InferenceEngine::Layout::ANY), // Output layout
        ::testing::Values(std::vector<size_t>({{op.cpp_list_input}})), // Input shape
        ::testing::Values(CommonTestUtils::DEVICE_NVIDIA)),
    {{op.cpp_test_class_name}}::getTestCaseName);

{% endfor -%}
