{%- for op in operators %}
{{op.title_comment}}
INSTANTIATE_TEST_CASE_P(
    {{op.cpp_test_name}},
    {{op.cpp_test_class_name}},
    ::testing::Combine(
        ::testing::Values({{op.cpp_shape_related_params}}),
        ::testing::ValuesIn(std::vector<InferenceEngine::Precision>({{op.cpp_net_precisions}})),
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED),
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED),
        ::testing::Values(InferenceEngine::Layout::ANY),
        ::testing::ValuesIn({{op.cpp_secondary_input_types}}), // secondary input types
        ::testing::Values(CommonTestUtils::DEVICE_NVIDIA),
        ::testing::Values({{op.cpp_additional_config}})), // additional config
    {{op.cpp_test_class_name}}::getTestCaseName);

{% endfor -%}
