{%- for op in operators %}
{{op.title_comment}}
INSTANTIATE_TEST_CASE_P(
    {{op.cpp_test_name}},
    {{op.cpp_test_class_name}},
    ::testing::Combine(
        ::testing::Values(std::pair<ActivationTypes, float>{Swish, {1.0}}),
    {%- if op.has_beta %}
        // Warning!: Swish has > 1 inputs, beta != 1.0, actual beta value stored in binary model data
    {%- endif %}
        ::testing::ValuesIn(std::vector<InferenceEngine::Precision>({{op.cpp_net_precisions}})),
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED),
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED),
        ::testing::Values(InferenceEngine::Layout::ANY),
        ::testing::Values(InferenceEngine::Layout::ANY),
        ::testing::Values({{op.cpp_shape}}),
        ::testing::Values(ov::test::utils::DEVICE_NVIDIA)),
    {{op.cpp_test_class_name}}::getTestCaseName);

{% endfor -%}
