.starting-stages {
  padding: 0.5rem;
  background-color: var(--vscode-editor-background);
  display: flex;
  flex-direction: column;
}

.starting-stage-item {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
}