.select-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select-container .select {
  background-color: var(--vscode-settings-dropdownBackground);
  color: var(--vscode-settings-dropdownForeground);
  border-color: var(--vscode-settings-dropdownBorder);

  flex-grow: 1;
  font: inherit;
  height: 26px;
  padding: 2px;

  cursor: pointer;
  border-radius: 2px;

  box-sizing: border-box;
}

.select-container[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.6;
}

.select-container[aria-disabled="true"] * {
  cursor: not-allowed;
}
