# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino_contrib-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino_contrib-maintainers

# CI:
/.github/  @openvinotoolkit/openvino-admins
/.ci/  @openvinotoolkit/openvino-admins

# ARM Plugin:
/modules/arm_plugin/ @apankratovantonp @l-bat

# Inference Engine Java API:
/modules/java_api/ @dkurt

# PyTorch extension for Model Optimizer:
/modules/mo_pytorch/ @dkurt
