# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino_contrib-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino_contrib-maintainers

# CI:
/.github/  @openvinotoolkit/openvino-admins
/.ci/  @openvinotoolkit/openvino-admins
