requests
pyyaml
psutil
numpy
networkx
defusedxml
six
tools
future
cython
pybind11
pythran
onnx==1.8.1
torch
mxnet
fastjsonschema
torchvision
yacs
keras_preprocessing
keras-nightly
absl-py
wrapt
opt_einsum
gast
astunparse
termcolor
flatbuffers
google-pasta
grpcio
tensorboard
tensorflow-estimator
