+Operations Table+------------------------------------------------------------------------+
{%- for operator in operators %}
===========================================================================================
Operator: {{operator[0]}}
-------------------------------------------------------------------------------------------
{%- if operator[1][0]|length > 0 %}
{%- for attrs, shapes in operator[1][0].items() %}
Attributes: {{attrs}}
...........................................................................................
{%- for shape in shapes %}
Inputs: {% for input in shape.inputs -%}{{input}}{{ ", " if not loop.last }} {%- endfor %}
Outputs: {% for output in shape.outputs -%}{{output}}{{ ", " if not loop.last }} {%- endfor %}
{%- if not loop.last %}
...........................................................................................
{%- endif %}
{%- endfor %}
{%- if not loop.last %}
...........................................................................................
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if operator[1][1]|length > 0 %}
{%- if operator[1][0]|length > 0 %}
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{%- endif %}
{%- for shape in operator[1][1] %}
Inputs: {% for input in shape.inputs -%}{{input}}{{ ", " if not loop.last }} {%- endfor %}
Outputs: {% for output in shape.outputs -%}{{output}}{{ ", " if not loop.last }} {%- endfor %}
{%- if not loop.last %}
-------------------------------------------------------------------------------------------
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}
===========================================================================================
+-----------------------------------------------------------------------------------------+