{%- for op in operators %}
{{op.title_comment}}
INSTANTIATE_TEST_CASE_P(
    {{op.cpp_test_name}},
    {{op.cpp_test_class_name}},
    ::testing::Combine(
        ::testing::Combine(
            ::testing::Values(PoolingTypes::AVG),
            ::testing::Values(std::vector<size_t>{{op.cpp_list_kernel}}), // kernel
            ::testing::Values(std::vector<size_t>{{op.cpp_list_strides}}), // strides
            ::testing::Values(std::vector<size_t>{{op.cpp_list_pads_begin}}), // pad begin
            ::testing::Values(std::vector<size_t>{{op.cpp_list_pads_end}}), // pad end
            ::testing::Values({{op.cpp_rounding_type}}), // rounding type
            ::testing::Values({{op.cpp_auto_pad}}), // pad type
            ::testing::Values({{op.cpp_exclude_pad}}) // exclude pad
        ),
        ::testing::ValuesIn(std::vector<InferenceEngine::Precision>{{op.cpp_net_precisions}}),
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED),
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED),
        ::testing::Values(InferenceEngine::Layout::ANY),
        ::testing::Values(InferenceEngine::Layout::ANY),
        ::testing::Values(std::vector<size_t>{{op.cpp_list_input}}), // input shape
        ::testing::Values(CommonTestUtils::DEVICE_CUDA)),
    {{op.cpp_test_class_name}}::getTestCaseName);

{% endfor -%}
