{%- for op in operators %}
{{op.title_comment}}
INSTANTIATE_TEST_CASE_P(
    {{op.cpp_test_name}},
    {{op.cpp_test_class_name}},
    ::testing::Combine(
        ::testing::Values(std::pair<ngraph::helpers::ActivationTypes, float>{ngraph::helpers::Relu, 0}),
        ::testing::ValuesIn(std::vector<InferenceEngine::Precision>({{op.cpp_net_precisions}})),
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED),
        ::testing::Values(InferenceEngine::Precision::UNSPECIFIED),
        ::testing::Values(InferenceEngine::Layout::ANY),
        ::testing::Values(InferenceEngine::Layout::ANY),
        ::testing::Values({{op.cpp_shape}}),
        ::testing::Values(CommonTestUtils::DEVICE_CUDA)),
    {{op.cpp_test_class_name}}::getTestCaseName);

{% endfor -%}
