# Copyright (C) 2018-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

numpy==2.5.1
openvino==2026.2.1
opencv-python-headless==5.0.0.93
torch==2.13.0
onnx==1.22.0
setuptools==83.0.0
nncf==3.2.0
shapely
torchvision
