# Copyright (C) 2018-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

__pycache__/
build
*.so
*.log
*.bak
*.opt
*venv*
ov_build/
venv_ov2026_ws/
venv_ov2026/
venv/
setup.env
run_results/
checkpoints/
debug_output/
openvino_extensions/bev_pool/build*/
