.checkbox {
  display: flex;
  padding: 0.2rem 0;
}

.vscode-checkbox {
  height: 18px;
  width: 18px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 9px;
  margin-left: 0;
  padding: 0;

  background-color: var(--vscode-settings-checkboxBackground);
  color: var(--vscode-settings-checkboxForeground);
  border-color: var(--vscode-settings-checkboxBorder);

  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.checkbox-label {
  margin-top: -1px;
  color: var(--vscode-foreground);
  opacity: .9;
}
