# Copyright (C) 2018-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# CDPN Dependencies
openvino==2026.3.1
numpy==2.4.6
opencv-python==5.0.0.93
scipy==1.18.1
nncf==3.2.0

# Config & IO
PyYAML==6.0.3
easydict==1.13
plyfile==1.1.5

# Logging & Progress
tensorboardX==2.6.5
tqdm==4.70.0
progress==1.6.1
termcolor==3.3.0

# Misc
pyparsing==3.3.2
six==1.17.0
numba==0.67.0
matplotlib==3.11.1
