BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
AccessModifierOffset: -4
