name: OpenVINO Code Extension Workflow

on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'modules/openvino_code/**'
      - '.github/workflows/openvino_code.yml'

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: ./modules/openvino_code

jobs:
  check_extension:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint:all
  
  check_server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
    
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff black
      
      - name: Lint with ruff and Black
        run: |
          cd server
          ruff check .
          black --check .
